.app_red_theme {
  --bg-color: #7a091e;
  --inverted-bg-color: #510412;
  --primary-color: #fbf4f5;
  --secondary-color: #443140;
  --inverted-primary-color: #fbf4f5;
  --inverted-secondary-color: #fbf4f5;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: #a93939;

  // card
  --card-bg: #aeaeaf
}
