.app_red_theme {
  --bg-color: #7a091e;
  --inverted-bg-color: #510412;
  --primary-color: #fbf4f5;
  --secondary-color: #443140;
  --inverted-primary-color: #fbf4f5;
  --inverted-secondary-color: #fbf4f5;
}
